[submodule "Assets/Packages/Randomation-Vehicle-Phsics"]
	path = Assets/Packages/Randomation-Vehicle-Phsics
	url = https://github.com/JustInvoke/Randomation-Vehicle-Physics
[submodule "Assets/Packages/LeapMotion"]
	
	path = Assets/Packages/LeapMotion
	
	url = https://github.com/leapmotion/UnityModules.git
